@font-face {
	font-family: 'TengwarAnnatarItalic';
	src: url('../fonts/tengwar/tngani-webfont.eot');
	src: local('?'), url('../fonts/tengwar/tngani-webfont.woff') format('woff'), 
	 url('../fonts/tengwar/tngani-webfont.ttf') format('truetype'), 
	 url('../fonts/tengwar/tngani-webfont.svg#webfontdJVhvyy6') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font: 1em/1.5em Georgia, 'Georgia', serif;
  color: black;
  background: url(../img/background.gif) repeat-x left 140px;
}
ul {
  list-style-type: circle;
  margin: 0 0 0 15px;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}
a {
  color: #3c5479;
}
a.feature-link {
  float: right;
  padding: 2px 4px 2px 4px;
  background: white;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  font-style: normal;
  font-size: 80%;
  margin-left: 3px;
}
a.feature-link:hover {
  background: #ccc;
  color: #333;
}
h1 {
  font-size: 200%;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 150px;
  line-height: 150px;
  display: block;
  color: #aaa;
  /*box-shadow: 0 100px 100px #eee;*/
  border-bottom: 1px solid #aaa;
  background: white; /*#3c5479;'*/
}
h2 {
  font-size: 130%;
  font-weight: normal;
  font-style: italic;
  border-bottom: 3px double #eee;
}
h3 {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
}
table {
  border: none;
}
table tr td, table tr th {
  padding: 4px;
  font-weight: normal;
  text-align: left;
}
#search-form {
  text-align: center;
}
#menu {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
#menu ul {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.extendable-form {
  background: #aaa;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 10px;
  color: #eee;
  text-align: center;
  margin: 0 auto 20px auto;
  display: none;
}
.extendable-form h2 {
  border-bottom: none;
  margin-top: 0;
}
#contents {
  width: 900px;
  margin: 0 auto;
}
#loading {
  display: none;
  background: white;
  padding: 5px 5px 5px 60px;
  background: white url(../img/loading.gif) no-repeat 5px 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  line-height: 36px;
  margin: 0 0 10px 0;
}
.extendable-form {
  margin-top: 20px;
}
#translation-entry {
  width: 700px;
  float: left;
}
#sidebar-entry {
  width: 172px;
  float: right;
  padding: 10px 2px 0 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid #eee;
  color: #666;
  font-size: 90%;
  text-align: left;
}
#sidebar-entry h2 {
  border: none;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
}
#revision-entry-info {
  display: none;
}
.rounded, .rounded-small {
  border: 1px solid #888;
  border-radius: 4px;
  background: white;
  font-family: georgia, sans-serif;
}
.rounded {
  font-size: 120%;
  padding: 5px;
}
.rounded-small {
  font-size: 110%;
  padding: 2px;
}
.word-type {
  font-size: 120%;
  font-style: italic;
}
.openid-provider {
  width: 81px;
  height: 33px;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}
.span-column {
  width: 70px;
  display: inline-block;
  text-align: left;
}
.question-mark {
  color: lightgreen;
  font-size: 110%;
  line-height: 80%;
  text-decoration: none;
}
.float-right {
  float: right;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.vertical-cells-top tr td, .vertical-cells-top tr th {
  vertical-align: top;
}
.tengwar {
  font-family: 'TengwarAnnatarItalic', inherit;
}
.keyword {
  padding: 3px 6px 3px 6px;
  background: #7e93b0;
  border-radius: 10px;
  border: 1px solid transparent;
  color: white;
  font: 10pt arial, sans-serif;
  white-space: nowrap;
  display: inline-table;
}
.keyword a {
  color: #d0e7ff;
  text-decoration: none;
  display: inline-block;
  background: #5c728e;
  padding: 0 4px 0 4px;
  border-radius: 4px;
}
.scroll-view {
  height: 300px;
  overflow: auto;
}
.disclaimer {
  padding: 50px 0 0 0;
  clear: both;
  color: #666;
  font: 80% arial, sans-serif;
}
.ui-widget {
  font: 1em/1.5em Georgia, sans-serif !important;
}