@import url(tengwar-kc.css);

@font-face {
  font-family: 'TengwarAnnatarItalic';
  src: url('../fonts/tengwar/tngani-webfont.eot');
  src: local('?'), url('../fonts/tengwar/tngani-webfont.woff') format('woff'), 
     url('../fonts/tengwar/tngani-webfont.ttf') format('truetype'), 
     url('../fonts/tengwar/tngani-webfont.svg#webfontdJVhvyy6') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  padding: 50px 0 0 0;
  margin: 0;
}
body {
  /*background: url(../img/backgrounds/forest-sky.jpg) fixed;*/
  overflow-y: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#search-result-wrapper-toggler-title {
  cursor: pointer;
}
.highlight {
  background: #d9eefe;
  border-radius: 2px;
}
.openid-provider {
  width: 81px;
  height: 33px;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}
.scroll-view {
  max-height: 300px;
  overflow: auto;
}
.disclaimer {
  padding: 50px 0 20px 0;
  clear: both;
  color: #bbb;
  font: 80% arial, sans-serif;
}
.disclaimer a {
  color:#aaa;
}
.performance-data {
  font-size: 80%;
  color: #bbb;
  text-align: right;
}
