@font-face {
  font-family: 'tengwar_annatarregular';
  src: url('../fonts/tengwar-kc/tngan-webfont.eot');
  src: url('../fonts/tengwar-kc/tngan-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tengwar-kc/tngan-webfont.woff2') format('woff2'),
       url('../fonts/tengwar-kc/tngan-webfont.woff') format('woff'),
       url('../fonts/tengwar-kc/tngan-webfont.ttf') format('truetype'),
       url('../fonts/tengwar-kc/tngan-webfont.svg#tengwar_annatarregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.tengwar {
  font-family: 'tengwar_annatarregular';
  font-size: 110%;
  line-height: 0.8;
  text-decoration: none;
  font-weight: normal !important;
}
.tengwar.start {
  color: #ccc;
  font-size: 200%;
  text-align: center;
  margin: 20mm 0 8mm 0;
  padding: 0;
}
