@import "../../../_scss/_variables";

.Search {
  text-align: right;
  .Search--config__language {
    display: inline-block;
  }
  .Search--config__expand {
    margin-left: 1rem;
    color: inherit;
    font-size: 0.8rem;
    white-space: nowrap;
    text-decoration: none;
    > span:last-child {
      margin-left: 0.2rem;
      text-decoration: underline;
    }
    > .icon {
      pointer-events: none;
      margin-left: 0.3rem;
    }
  }
}

#ed-search-component {
  min-height: 116px;

  @media (max-width: 430px) {
    min-height: 135px;
  }

  .search-result-presenter {
    margin-bottom: 20px;
  }

  .search-reverse-box-wrapper,
  .search-language-select {
    float: right;
  }
  .search-language-select {
    margin-right: 15px;
  }
  .search-result-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .search-result-wrapper-toggler-title {
    cursor: pointer;
  }
  .search-result-navigator {
    margin-bottom: 5px;
  }

  /*
   * Order the search suggestions into columns for the widths: >400, >750 and >970.
   * */
  @media (min-width: 971px) {
    ul.search-result {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      -ms-column-count: 4;
      column-count: 4;
    }
  }
  @media (max-width: 970px) and (min-width: 751px) {
    ul.search-result {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      -ms-column-count: 3;
      column-count: 3;
    }
  }
  @media (max-width: 750px) and (min-width: 401px) {
    ul.search-result {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2;
      column-count: 2;
    }
  }
  ul.search-result {
    list-style-type: none;
    padding: 0 15px 0 15px;
    margin-bottom: 0;

    > li > a {
      color: inherit;
      text-decoration: none;

      &.selected {
        font-weight: bold;
      }

      > .word {
        color: $link-color;
      }

      > .development {
        &::before {
          content: ' ⇨ ';
          font-style: normal;
        }
        font-style: italic;
      }
    }
  }
}
