@import '../../../_scss/_variables';

h2.Language__header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
h3.Language__subheader {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;
    margin-top: -0.5rem;
}
