.SearchGroup__group-name {
    &:first-child {
        margin-top: -15px;
    }
    margin: 0 -15px;
    padding: 5px;
    background: #ddd;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
