@import "../../../_scss/variables";

$ed-profile-body-maximum-width: 50rem;

.Profile--container {
    header, .Jumbotron {
        text-align: center;
        h1, h2 {
            margin-top: 0;
        }
        &.with-background > .Avatar--picture {
            border-width: 4px;
        }
    }
}
