dictionaries/
.DS_Store
.metadata/
browserconfig.xml
*~
test/*
.idea
.buildpath
.project
.settings
*.log
src/resources/views/_shared/_ga.*
src/public/js
src/public/css
src/public/img
src/public/fonts
src/bootstrap/cache
src/storage
src/public/google*.html

