dictionaries/
.DS_Store
.metadata/
browserconfig.xml
*~
test/*
.idea
.buildpath
.project
.settings
*.log
src/public/js
src/public/css
src/public/img
src/public/fonts
src/public/mix-manifest.json
src/bootstrap/cache
src/storage
src/public/google*.html
.well-known
conf/
