templates_c/
cache/
dictionaries/
fonts/
img/
lib/config/*.php
.DS_Store
.metadata/
browserconfig.xml
*~
test/*
ads/*
lib/config/config.wordservice.php
.idea
.buildpath
.project
.settings
phpinfo.php
