Options +FollowSymLinks -MultiViews
RewriteEngine on

RewriteRule ^api\/([A-Za-z0-9\-]+)\/?([0-9=a-zA-Z%]+)?\/?$     /api.php?service=$1&param=$2 [QSA,L]
RewriteRule ^([a-z\-]+)\.page$                                 /index.php?template=$1 [QSA,L]
RewriteRule ^w/([^\/]+)$                                       /translate.php?term=$1&ajax=false [QSA,L]
RewriteRule ^wt/([0-9]+)$                                      /translate.php?term=translationID\%3D$1&ajax=false [QSA,L]

# This checks to make sure the connection is not already HTTPS
# RewriteCond %{HTTPS} !=on

# This rule will redirect users from their original location, to the same location but using HTTPS.
# i.e.  http://www.example.com/foo/ to https://www.example.com/foo/
# The leading slash is made optional so that this will work either in httpd.conf or .htaccess context
# RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

# Force to www
# RewriteCond %{HTTP_HOST} !^$
# RewriteCond %{HTTP_HOST} !^www\. [NC]
# RewriteCond %{HTTPS}s ^on(s)|
# RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]