$gloss-border-color: #dedede;

.ed-glossary {
  &.ed-glossary--unusual {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $gloss-border-color;
  }

  .ed-glossary__language {
    margin-top: 4em;

    &:first-child {
      margin-top: 0 !important;
    }

    > header {
      text-align: center;

      h2 {
        font-size: 200%;
        font-weight: bold;
      }
      @media (max-width: $screen-sm-min) {
        text-align: left;
      }
    }
  }

  .ed-glossary__language__words {
    columns: 2;

    blockquote.gloss {
      border-width: 1px;
      overflow: hidden;
      border-left-color: $gloss-border-color;
      break-inside: avoid;
      page-break-inside: avoid; /* -> https://caniuse.com/#search=columns */

      h3.gloss-word { 
        margin-top: 0;
        
        a {
          float: right;
          margin-left: 5px;
          font-size: 70%;
          line-height: 100%;
          color: #ccc;

          &:hover {
            color: inherit;
          }

          &.neologism {
            float: none;
            content: '*';
          }
        }
        .rejected {
          text-decoration: line-through;
        }
      }
      .word-type {
        font-style: italic;
      }
      .ed-comments-no {
        &:hover, &:active, &:visited {
          text-decoration: none;
        }

        > .no {
          font-size: 80%;
          line-height: 24px;
          vertical-align: top;
        }
      }
      .word-footer {
        max-width: 100%;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
      section.details {
        padding: $padding-small-vertical 0;

        header > h4 {
          margin-top: 0;
          font-size: inherit;
          font-style: italic;
        }
      } 
    } 
  }
  @media (max-width: $screen-sm-min) {
    .ed-glossary__language__words {
      columns: auto;
    }
  }
  @media (min-width: $screen-xxl-width) {
    .ed-glossary__language__words {
      columns: 3;
    }
  }
  @media (min-width: $screen-xxxl-width) {
    .ed-glossary__language__words {
      columns: 4;
    }
  }

  &.ed-glossary--single {
    .ed-glossary__language__words {
      columns: auto;
    }
  }
}

.ed-admin-tool {
  display: none;
}
body.ed-admin .ed-admin-tool {
  display: inline-block;
}
