.ed-fragment-navigator {

  a:hover, a:active, a:visited, a {
    text-decoration: none;
    color: inherit;
  }

  .tengwar > span.active, a.active {
    color: $brand-success;
    text-shadow: 1px 0px 1px $gray-lighter;
  }

  .ed-tengwar-fragments {
    font-size: 190%;
    text-align: center;
  }

  .ed-elvish-fragments {
    font-size: 150%;
    text-align: center;
  }

  .ed-inflection {
    font-size: inherit;
    line-height: 3;
  }

  blockquote h3 {
    margin-top: 0;
  }
}
