.sentence-footer {
  display: block;
  font-size: $font-size-small;
  line-height: 1.6;
  color: $gray-light;
  text-align: right;
}

.label.ed-sentence-fragment {
  font-size: inherit;
  line-height: 2.5;
}