.ed-fragment-navigator {
  margin: 4em 0 1em 0;

  .ed-tengwar-fragments, .ed-elvish-fragments {
    a:hover, a:active, a:visited, a {
      text-decoration: none;
      color: inherit;
      white-space: nowrap;
    }

    .tengwar > span.active, a.active {
      color: $brand-primary;
      text-shadow: 1px 1px 1px #ddd;
    }
  }

  .ed-tengwar-fragments {
    font-size: 190%;
  }

  .ed-elvish-fragments {
    font-size: 150%;
  }

  .ed-inflection {
    font-size: inherit;
    line-height: 3;
  }

  blockquote { 
    border: none;
    padding: 0;
    h3 {
      margin-top: 0;
    }
  }

  .ed-fragment-details {
    margin-top: 1em;
    border: 1px solid $panel-inner-border;
    border-radius: $border-radius-base;
    padding: 0 1em 1em 1em;

    small.text-info {
      display: none;
    }
    
    &.overlay {
      margin-top: 0;
      border-radius: 0;
      border: none;

      position: fixed;
      left: 0;
      bottom: 0;
      max-height: 30vh;
      width: 100vw;
      background: white;
      z-index: 100;
      box-sizing: border-box;
      overflow-y: scroll;
      box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);

      small.text-info {
        display: block;
        text-align: center;
        font-size: 10px;
        color: $gray;
        position: absolute;
        left: 0;
        top: $padding-small-vertical;
        width: 100%;
        font-family: sans-serif;
      }

      hr {
        margin: $padding-small-vertical 0;
      }

      @media (max-width: 400px) {
        max-height: 40vh;
      }
    }
  }
}

body.ed-fragment-details-overlaid {
  padding-bottom: 30vh;
}
