@import '../../../../_scss/_variables';

$thread-color: var(--ed-thread-color);
$thread-width: 2px;
$thread-coil-size: 0.8rem;

.account-feed {
    img {
        max-width: 100%;
    }
    .timeline--line {
        border-left: $thread-width solid $thread-color;
        &.first {
            >span::before {
                content: "";
                display: block;
                width: $thread-coil-size;
                height: $thread-coil-size;
                border-radius: $thread-coil-size;
                border: $thread-width solid $thread-color;
                background: $thread-color;
                margin-left: $thread-coil-size/-2;
            }
        }
        > span {
            display: block;
            border-left: $thread-width solid $thread-color;
            border-bottom: $thread-width solid $thread-color;
            width: 1rem;
            height: 2rem;
            border-end-start-radius: 1rem;
            margin-left: -$thread-width;
        }
    }
}