@import '../../../../_scss/variables';

.timeline--line {
    border-left: 1px solid $border-color;
    &.first {
        >span::before {
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 1rem;
            border: 1px solid $border-color;
            background: white;
        }
    }
    > span {
        display: block;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        width: 1rem;
        height: 2rem;
        border-end-start-radius: 1rem;
        margin-left: -1px;
    }
}