.SaveToWordList--list {
    .list-group-item {
        padding: 0.5rem 0.75rem;
    }
}

.SaveToWordList--item-in-list {
    background-color: var(--ed-heart-bg);
}

.SaveToWordList--heart-indicator {
    color: var(--ed-heart-color);
    background-color: var(--ed-heart-color);
    margin-right: 0.4rem;
    flex-shrink: 0;
}
