@import '../../../_scss/_variables';

.EntitySelect {
    > input {
        position: absolute;
        left: -9000%;
    }

    display: block;
    overflow: hidden;
    border: $input-border-width solid var(--ed-border);
    border-radius: $input-border-radius;
    padding: $input-padding-y $input-padding-x;
    font-weight: normal;
}
.EntitySelect--focus {
    /* TODO: This is a shameless copy from the web inspector. Fix this. */
    border-color: var(--ed-border-input-focus) !important;
    outline: 0;
    box-shadow: inset 0 1px 1px var(--ed-shadow), 0 0 8px var(--ed-border-input-focus);
}
