@import '../../../_scss/_variables';

$max-avatar-size: 2rem;
$avatar-distance: 0.1rem;
$avatar-distance-step: 5;

.AccountList--avatars {
    overflow: hidden;
    white-space: nowrap;
    min-height: 2rem;

    .Avatar--picture {
        width: $max-avatar-size;
        height: $max-avatar-size;
        box-shadow: none;
        margin-left: $avatar-distance*-$avatar-distance-step;
        background: var(--ed-bg-elevated);
        background-size: cover;

        &:first-child {
            margin-left: 0;
        }
    }

    > * {
        vertical-align: middle;
    }

    &:after {
        content: "... and more.";
        display: inline-block;
        font-family: $font-family-tiny;
        font-size: 0.9rem;
        color: var(--ed-text-faint);
        margin-left: $avatar-distance*5;
    }
}
