@import '../../../../_scss/_variables';
@import '../../../../_scss/markdown-global';

.EditTabView--split-view {
    .EditTabView--split-view__preview {
        display: none;
        @include markdown-global();
    }

    @media (min-width: map-get($grid-breakpoints, 'sm')) {
        display: flex;
        border-bottom: 1px solid var(--ed-border);
        > div {
            &.EditTabView--split-view__input {
                margin-right: 0.5rem;
                border-right: 1px solid var(--ed-border);
                display: flex;
                align-items: stretch;
                > textarea {
                    flex: 1;
                }
                textarea {
                    height: 100%;
                    min-height: 5rem;
                    border: none;
                }
            }

            &.EditTabView--split-view__preview {
                padding: 0.5rem;
                display: initial;
            }
            
            flex: 1;
            align-items: stretch;
        }
    }
}
