@import '../../../_scss/variables';

$inspector-border-radius: 0.2em;
$inspector-background: $panel-default-heading-bg;
$inspector-border: $panel-default-border;

.fragment-inspector {
    background: $inspector-background;
    border: 1px solid $inspector-border;
    border-top: none;
    border-bottom-left-radius: $inspector-border-radius;
    border-bottom-right-radius: $inspector-border-radius;
    padding: 0 $line-height-computed 0 $line-height-computed;

    article {
        max-width: 600px;
        margin: 0 auto;

        > header h1 {
            display: none;
        }

        > section {
            &.abstract {
                font-style: italic;
                font-size: 1rem;
            }

            > blockquote {
                padding: 0;
                border: none;
            }
        }
    }

    nav {
        font-size: 1rem;
        > ul {
            margin-top: 0;
        }
    }
}

.sentence-inspector > .p-group {
    &.selected {
        background: $inspector-background;
        border: 1px solid $inspector-border;
        padding: $line-height-computed $line-height-computed 0 $line-height-computed;
        border-bottom: none;
        border-top-left-radius: $inspector-border-radius;
        border-top-right-radius: $inspector-border-radius;
    }
}
