@import '../../../_scss/variables';

$inspector-border-radius: 0.2em;
$inspector-background: #ccc; //$panel-default-heading-bg;
$inspector-border: #ccc;// $panel-default-border;
$inspector-height: 45vh;
$inspector-max-width: 600px;
$inspector-border-top: $gray-200; // #8aa5c3;

.fragment-inspector--open .sentence-inspector {
    padding-bottom: $inspector-height;

    > .head-content {
        min-height: auto;
    }
}

.fragment-inspector {
    position: fixed;
    left: 0;
    bottom: 0;
    height: $inspector-height;
    width: 100%;
    z-index: 1000;
    overflow-y: scroll;
    padding: $line-height-base/2 $line-height-base 0 $line-height-base;
    background: $inspector-background;
    border-top: 3px solid $inspector-border-top;
    box-shadow: 0px -0.25rem 0.5rem 0px rgba(0, 0, 0, 0.2);

    > article {
        max-width: $inspector-max-width;
        margin: 0 auto;

        > header h1 {
            display: none;
        }

        > section {
            &.abstract {
                font-size: 1rem;
            }

            > blockquote {
                padding: 0;
                border: none;
            }
        }
    }

    nav {
        font-size: 1rem;
        > ul {
            margin: $line-height-base/4 0 $line-height-base/2 0;
            > li {
                a {
                    border: none;
                    padding: 0;
                    font-size: 1.25rem;
                    color: $gray-500;
                    padding: 0.1rem 0.4rem 0 0.4rem;

                    + a {
                        margin-left: 1em;
                    }

                    &.disabled > span.glyphicon {
                        background: transparent;
                    }
                }
            }
        }
        .tengwar-pill > span {
            border: none;
            font-size: 1.1rem;
        }
    }
}
