@import '../../../_scss/variables';

$inspector-border-radius: 0.2em;
$inspector-background: $gray-800; //$panel-default-heading-bg;
$inspector-text-color: white;
$inspector-border: var(--ed-border-light);
$inspector-height: 55vh;
$inspector-max-width: 600px;
$inspector-border-top: $gray-200; // #8aa5c3;

.fragment-inspector--open {
    overflow-y: hidden;
}

.fragment-inspector--open .sentence-inspector {
    padding-bottom: $inspector-height;

    > .head-content {
        min-height: auto;
    }
}

.fragment-inspector {
    position: fixed;
    left: 0;
    bottom: 0;
    height: $inspector-height;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
    overflow-y: scroll;
    background: $inspector-background;
    color: $inspector-text-color;
    padding: 1rem 2rem 0 2rem;
    font-size: 1rem;
    pointer-events: all;

    h1 {
        font-size: 1.75rem;
    }

    a, .btn-close {
        color: white;
        font-style: italic;
    }

    .TextIcon {
        background-color: white;
    }

    .btn-close {
        position: fixed;
        right: 20px;
        z-index: 1002;
    }

    .navigation-arrows {
        position: fixed;
        display: flex;
        align-items: center;
        height: $inspector-height;
        font-size: 1.5rem;
        animation: fragment-inspector-arrows-spawn 1.5s alternate;
        animation-iteration-count: 3;

        &.left {
            left: 0;
        }
        &.right {
            right: 20px; // because of the scroll bar! :(
        }
        &.disabled {
            animation: none;
            opacity: 0.25;
        }
    }

    > article {
        max-width: $inspector-max-width;
        margin: 0 auto;
        z-index: 1001;

        > section {
            &.abstract {
                font-size: 1rem;
            }

            > blockquote {
                padding: 0;
                border: none;
                margin: 0;
            }
        }
    }
}

@keyframes fragment-inspector-arrows-spawn {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
