@import "../../../_scss/_variables";

.CombinePartsStage {
    .CombinePartsStage__selected-parts {
        text-align: center;
        font-size: 1.25rem;
        line-height: 2;
        color: white;
        margin-top: 1rem;
        > a {
            text-transform: uppercase;
            font-weight: bold;
            color: inherit;
        }
        > span {
            font-style: italic;
        }
    }
    .CombinePartsStage__parts {
        background: white;
        border-radius: 0.3rem;
        padding: 0.5rem;

        .choices {
            > button {
                font-weight: bold;
                transition: opacity 1s;
                margin: 0.5rem 1% 0 0;
                width: 19.2%;

                &:last-child, &:nth-child(5n) {
                    margin-right: 0;
                }

                > .tengwar {
                    pointer-events: none;
                }
            }
        }
        .undo-button {
            > button {
                margin-top: 0.5rem;
                width: 100%;
            }
        }
    }
    .CombinePartsStage__tips {
        font-family: $font-family-tiny;
        font-size: 0.8rem;
        text-align: right;
        display: none; /* currently not supported */
        > a {
            color: white;
            text-decoration: underline;
        }
    }
}