@import "../../../_scss/variables";

.CombinePartsStage {
    .CombinePartsStage__selected-parts {
        text-align: center;
        > a, > span {
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: bold;
            line-height: 2;
            color: white;
        }
    }
    .CombinePartsStage__parts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0.5rem;
        background: white;
        border-radius: 0.3rem;
        > button {
            flex-grow: 1;
            border-radius: 0;
            border: none;
            font-weight: bold;
            background: none;
            transition: opacity 1s;

            > .tengwar {
                pointer-events: none;
            }
        }
    }
    .CombinePartsStage__tips {
        font-family: $font-family-tiny;
        font-size: 0.8rem;
        text-align: right;
        > a {
            color: white;
            text-decoration: underline;
        }
    }
}