@import "../../../_scss/variables";

.CombinePartsStage {
    .CombinePartsStage__selected-parts {
        text-align: center;
        font-size: 1.25rem;
        line-height: 2;
        color: white;
        margin-top: 1rem;
        > a {
            text-transform: uppercase;
            font-weight: bold;
            color: inherit;
        }
        > span {
            font-style: italic;
        }
    }
    .CombinePartsStage__parts {
        background: white;
        border-radius: 0.3rem;
        padding: 0.5rem;

        .choices {
            flex-wrap: wrap;
            flex-direction: row;
            column-count: 5;

            > button {
                font-weight: bold;
                transition: opacity 1s;
                width: 100%;
                margin-bottom: 0.5rem;

                > .tengwar {
                    pointer-events: none;
                }
            }
        }
        .undo-button {
            > button {
                width: 100%;
            }
        }
    }
    .CombinePartsStage__tips {
        font-family: $font-family-tiny;
        font-size: 0.8rem;
        text-align: right;
        display: none; /* currently not supported */
        > a {
            color: white;
            text-decoration: underline;
        }
    }
}