@keyframes ed-word-pulsate {
    from {
        text-shadow: #000 0 0 0.1rem;
    }
    to {
        text-shadow: rgb(138, 138, 138) 0 0 0.2rem;
    }
}

.GlossList--glosses {
    list-style-type: square;
    padding: 0 0 0 1rem;
    margin: 0;

    > li {
        animation: ed-word-pulsate 1.5s infinite alternate;
        transition: opacity 1s;
        &.discovered {
            opacity: 0.8;
            animation: none;
        }
        .word {
            &::before {
                content: "⇒";
                padding: 0 0.5rem;
            }
            > a {
                text-transform: none;
                color: white;
                text-decoration: none;
                span {
                    pointer-events: none;
                }
            }
        }
    }
}
