@import '../../../_scss/_variables';
@import "../../../_scss/_fx";

.WordFinder--container {
    padding: 1rem;
    background-color: #355166;
    background-image: url(../../../../img/word-finder-background.jpg);
    background-size: cover;
}

.WordFinder {
    max-width: 360px;
    min-height: 520px;
    margin: 0 auto;
    color: white;
}

.WordFinder__timer {
    float: right;
    font-size: 0.8rem;
    font-family: $font-family-tiny;
}
