@import '../../../_scss/variables';
@import "../../../_scss/fx";

.WordFinder--container {
    margin: 0 -15px;
    padding: 1rem 15px;
    background-color: #355166;
    background-image: url(../../../../img/word-finder-background.jpg);
    background-size: cover;
    @include ed-box-shadow();

    /*
    @media (min-width: $screen-sm-min) {
        border-radius: 0.5rem;
    }
    */
}

.WordFinder {
    max-width: 360px;
    min-height: 520px;
    margin: 0 auto;
    color: white;
}

.WordFinder__timer {
    float: right;
    font-size: 0.8rem;
    font-family: $font-family-tiny;
}
