@import '../../../../_scss/_variables';

$gloss-border-color: #dedede;

.ed-glossary {
  &.ed-glossary--unusual {
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .ed-glossary__language {
    margin-top: 4em;

    &:first-child {
      margin-top: 0 !important;
    }
  }
  .ed-glossary__language__words {
    padding-top: 1rem;
    columns: 2;
  }
  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    .ed-glossary__language__words {
      columns: auto;
    }
  }
  @media (min-width: $screen-xxl-width) {
    .ed-glossary__language__words {
      columns: 3;
    }
  }
  @media (min-width: $screen-xxxl-width) {
    .ed-glossary__language__words {
      columns: 4;
    }
  }
  &.ed-glossary--single {
    .ed-glossary__language__words {
      columns: auto;
    }
  }
}
