@import '../../../../_scss/_variables';

$gloss-border-color: #dedede;

blockquote.lexical-entry {
  padding: 1rem;
  break-inside: avoid;
  page-break-inside: avoid; /* -> https://caniuse.com/#search=columns */
  transform: translateZ(0); // https://stackoverflow.com/questions/17881923/box-shadow-trimmed-in-css-columns-in-chrome

  footer {
    font-size: 0.8rem;
  }

  h3.gloss-word {
    margin-top: 0;
    
    .gloss-word__neologism {
      .badge {
        font-size: 0.8rem;
        font-family: $font-family-tiny;
      }
    }

    .gloss-word__inflection {
      .gloss-word__inflection__word::before {
        content: ' > ';
      }
      .gloss-word__inflection__name {
        margin-left: 0.5em;
        font-style: italic;
        font-size: 1rem;
        font-weight: normal;
      }
    }

    .gloss-word--toolbar {
      float: right;
      a {
        margin-left: 0.5rem;
        font-size: 1rem;
        color: inherit;
        > .TextIcon {
          transition: transform 1s;
        }
  
        &:hover {
          color: inherit;

          > .TextIcon {
            transform: scale(1.25);
          }
        }
  
        &.neologism {
          float: none;
          content: '*';
        }

        &.ed-comments-no {
          text-decoration: none;
  
          &:hover, &:active, &:visited {
            text-decoration: none;
          }
        }
      }
    }

    .rejected {
      text-decoration: line-through;
    }
  }
  .word-type {
    font-style: italic;
  }
  .word-footer {
    max-width: 100%;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }
  section.details {
    header > h4 {
      margin-top: 0;
      font-size: inherit;
      font-style: italic;
    }
  }
}
