/* heartbeat animation */
@keyframes heartbeat {
    0% {
      transform: scale(0.85);
    }
    30% {
      transform: scale(1);
      color: crimson;
    }
    60% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
/* loading animation */
.loading {
    animation: rotating 1s linear infinite;
  }
  /* Rotation begin */
  
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Rotation end */
