@import './_variables';

.link-blocks {
  @media (min-width: map-get($grid-breakpoints, 'sm')) {
    columns: 2;
  }

  blockquote {
    page-break-inside: avoid;
    
    &:hover {
      // background: $alert-info-bg;
      border-radius: 5px;
    }
  
    > .block-link {
      color: inherit;
      text-decoration: none;
      display: block;

      .label {
        float: right;
        font-family: $font-family-tiny;
      }
    }
  
    h3 {
      margin-top: 0;
      margin-bottom: 7px; /* it looks better with 7px */
      font-size: 1.4rem;
    }
  
    p:last-child {
      margin-bottom: 5px;
    }
  }
}
