// Default body font:
// - Iowan Old Style: preferred serif font on iOS
// - Georgia: compatible with everything except Linux
// - Bitstream Charter, Charis SIL, Utopia, URW Bookman L: Linux compatibility
// - serif: fallback
$font-family-sans-serif: "Iowan Old Style", Georgia, "Bitstream Charter", "Charis SIL", Utopia, "URW Bookman L", serif;
$font-family-tiny: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-root: 14px;
$line-height-base: 1.6;

// Custom components
$link-block-background-color-hover: #d9edf7;

// Bootstrap configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
