$primary: #015788;
$info: #8eb4cb;
$success: #2ab27b;
$warning: #cbb956;
$danger: #bf5329;

// Disable custom bootstrap components
$enable-cssgrid: false;
$enable-rfs: false;
$enable-dark-mode: true;
$enable-deprecation-messages: false;
$enable-shadows: true;
$enable-gradients: false;

// Default body font:
// - Iowan Old Style: preferred serif font on iOS
// - Georgia: compatible with everything except Linux
// - Bitstream Charter, Charis SIL, Utopia, URW Bookman L: Linux compatibility
// - serif: fallback
$font-family-sans-serif: "Iowan Old Style", Georgia, "Bitstream Charter", "Charis SIL", Utopia, "URW Bookman L", serif;
$font-family-tiny: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-root: 16px;
$line-height-base: 1.6;

// Custom sizes
$screen-xxl-width: 1700px;
$screen-xxxl-width: 2200px;

// Custom components
$link-block-background-color-hover: #d9edf7;

// Sizes
$size-desktop-large-min-width: 1920px;
$size-desktop-menu-height: 7rem;
$size-desktop-user-menu-width: 16rem;

// Bootstrap configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/utilities";
