@import "_animations";

html, body {
  width: 100%;
  margin: 0;
  padding: 50px 0 0 0;
  font-size: 14px;
}
body {
  background: url(/img/backgrounds/stars.jpg) fixed;
  background-size: cover;
  
  overflow-y: scroll;
}
@media (orientation: landscape) {
  body {
    padding-top: $navbar-margin-bottom;
  }
}
blockquote footer {
    font-size: 85%;
    font-family: $font-family-tiny;
}
.jumbotron {
  background: url(/img/jumbotron.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  @include ed-box-shadow();

  h1 {
    font-style: italic;
  }
}
@media (min-width: 630px) and (max-width: 964px) {
  .jumbotron {
    background-position: center 35%;
  }
}
@media (min-width: 965px) {
  .jumbotron {
    background-position: center 18%;
  }
}
.navbar-brand {
  overflow: hidden;
  text-indent: -9999px;
  width: 140px;
  background: url(/img/logotype.png) no-repeat center center;
  background-size: 140px 45px;
  margin-right: 10px;
}
@media (max-width: $screen-md-min) {
  .navbar-brand {
    margin-left: $panel-body-padding + $font-size-base*0.5; /* due to 0.5em border */
  }
}
#site-container  {
  background: rgba(255, 255, 255, 0.95);
  border: 0.5em solid white;
  padding-top: 1em;
  border-radius: 2px;
  transition: transform 0.5s;
  position: relative;
  @include ed-box-shadow();
}
#site-container.pushed-down {
  transform: translateY(calc(100vh - 150px));
}
h1,h2,h3,h4,h5 {
  font-family: $font-family-sans-serif;
}
header h2.tengwar {
  font-size: 140%;
}
.clear-left {
  clear: left;
}
blockquote {
  font-size: 1rem;
  line-height: 1.5;
}
blockquote h3 a {
  color: inherit;
}
.highlight {
  background: #d9eefe;
  border-radius: 2px;
}
.openid-provider {
  width: 81px;
  height: 33px;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}
.scroll-view {
  max-height: 300px;
  overflow: auto;
}
.disclaimer {
  padding: 50px 0 20px 0;
  clear: both;
  color: #bbb;
  font: 80% $font-family-tiny;
}
.disclaimer a {
  color:#aaa;
}
.performance-data {
  font-size: 80%;
  color: #bbb;
  text-align: right;
}
.modal {
  text-align: center;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 80%;
}
.ed-definition {
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  font-size: 90%;
  margin-bottom: 10px;
}
.ed-fragment {
  margin-left: 10px;
}
.ed-navigation div:last-child {
  text-align: right;
}
#related-books-row {
  margin-top: 150px;
  padding-top:5px;
}
#related-books {
  overflow: auto;
  overflow-x: hidden;
  max-height: 520px;
}
#related-books iframe {
  margin: 10px 10px 10px 0;
}
.adblocker {
  display: none;
}
#profile-page-edit {
  float: right;
}
.editable {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 10px;
}
.editable.active {
  transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  padding: 5px;
}
.editable.active:hover {
  border-color: #608ca5;
  cursor: text;
}
.editing {
  box-sizing: border-box;
  width: 100%;
}
.editing.tengwar {
  float: right;
  width: 30%;
}
.alert {
  font-size: 1rem;
}
.trans-word a {
  opacity: 0.3;
  transition: opacity 0.5s;
}
.trans-word a:hover {
  opacity: 1;
}
.ed-dashboard-li-text {
  width:70%;
  overflow:hidden;
  text-overflow: ellipsis;
  display:inline-block;
  white-space:nowrap;
}
.auth-provider img {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0;
  margin-right: 20px;
}
.auth-provider:hover img {
  border-color: #f3f3f3;
  @include ed-box-shadow();
}
.no-padding {
  padding-left: 0;
}
.ed-sentence-fragments > .row:first-child {
  border-top: none;
  padding-top: 0;
}
.ed-sentence-fragments > .row {
  border-top: 2px solid #dddddd;
  padding-top: 25px;
}
.donations {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.donations li {
  padding: 5px 0 5px 0;
}
.donations .currency {
  font-weight: bold;
}
.donations .date {
  font-style: italic;
}
.donation-box {
  border: none;
  background: #eee;
  border-radius: 10px;
  max-width:230px;
  text-align: center;
  float: right;
}

.list-group {
  font-size: 1rem;
}

@media (max-width: 400px) {
  .donation-box {
    float: none;
    max-width: none;
  }
}
.daily-sentence {
  padding: 5px 0 0 0;
  margin: 0;
  border: none;
}
.beating {
  color: red;
  font-size: 90%;
  animation: heartbeat 3s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.search-result-navigator ul.pager {
  margin: 0;
}
