@font-face {
  font-family: 'Tengwar-Annatar';
  src:url('../fonts/tengwar/Tengwar-Annatar.ttf.woff') format('woff'),
      url('../fonts/tengwar/Tengwar-Annatar.ttf.svg#Tengwar-Annatar') format('svg'),
      url('../fonts/tengwar/Tengwar-Annatar.ttf.eot'),
      url('../fonts/tengwar/Tengwar-Annatar.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
.tengwar {
  font-family: 'Tengwar-Annatar';
  font-size: 110%;
  line-height: 1.5;
  text-decoration: none;
  font-weight: normal !important;
}
.tengwar.start {
  color: #ccc;
  font-size: 200%;
  text-align: center;
  margin: 20mm 0 8mm 0;
  padding: 0;
}
.tengwar-lg {
  font-size: 150%;
}
.tengwar.header {
  float: right;
  color: #ccc;
}
input.tengwar {
  font-size: 150%;
}
