@font-face {
    font-family: 'Tengwar Parmaite';
    src: url('../fonts/tengwar/tengwarparmaitem-webfont.eot');
    src: url('../fonts/tengwar/tengwarparmaitem-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tengwar/tengwarparmaitem-webfont.woff2') format('woff2'),
         url('../fonts/tengwar/tengwarparmaitem-webfont.woff') format('woff'),
         url('../fonts/tengwar/tengwarparmaitem-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.tengwar {
  font-family: 'Tengwar Parmaite';
  font-size: 110%;
  line-height: 0.8;
  text-decoration: none;
  font-weight: normal !important;
}
.tengwar.start {
  color: #ccc;
  font-size: 200%;
  text-align: center;
  margin: 20mm 0 8mm 0;
  padding: 0;
}
.tengwar.header {
  float: right;
  color: #ccc;
}
input.tengwar {
  font-size: 200%;
}
