
// Body
$body-bg: #f5f8fa;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Lora', Georgia, serif;
$font-family-tiny: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #202020;

// Navbar
$navbar-default-bg: #333;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: #272727;
$navbar-default-link-hover-bg: #272727;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
