@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import '_variables';
@import 'mixins/_fx';

h1 {
    word-wrap: break-word;
}

.discuss-table {
    box-sizing: border-box;

    /* row */
    .r {
        display: flex;
        flex-wrap: wrap;
        padding: $padding-base-vertical;

        &:nth-child(even) {
            background-color: $table-bg-accent;
        }
        
        &:hover {
            background-color: $alert-info-bg;
            border-radius: $border-radius-base;
        }

        /* column */
        .c { 
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;

            &.p2 {
                flex-grow: 2;
            }

            &:first-child {
                max-width: 80px;
            }

            /* profile picture */
            .pp {
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                    @include ed-box-shadow();
                }
            }

            /* profile information */
            .pi {
                font-family: $font-family-tiny;
                font-size: 80%;
            }
        }
    }

    .member-list-account {
        font-size: 1.5em;

        .profile-summary {
            font-size: 1rem;
        }
    }

    .member-list-number {
        font-size: 2em; 

        .total-indicator {
            font-size: 1rem;
        }  
    }
}