@import "./_scss/_variables";
@import "./_scss/_animations";
@import "./_scss/_fx";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import './_scss/autosuggest';
@import "./_scss/_link-block";

/* Please note that there are other imports on the bottom */

html, body {
  width: 100%;
  margin: 0;
  font-size: 14px;
}
body {
  overflow-y: scroll;
  background: white;

  .head-content {
    min-height: 100vh;
    padding-bottom: $footer-height + 14px;
    box-sizing: border-box;
  }

  > footer {
    color: #9b9b9b;
    font-family: $font-family-tiny;
    background: #202020;
    margin-top: -$footer-height;
    min-height: $footer-height;
    padding: 1em;
    box-sizing: border-box;
    font-size: 90%;

    display: flex;
    > section {
      flex: 1;

      &:last-child {
        text-align: right;
      }
    }

    h3 {
      font-size: 110%;
      margin-top: 0;
      font-style: italic;
    }
    a, a:active, a:hover {
      color: #9b9b9b;
      text-decoration: underline;
    }
    li {
      padding: 0;
    }
  }
}
#site-container  {
  padding-top: 1em;
  position: relative;
}
@media (min-width: $screen-xxl-width) {
  #site-container {
    width: $screen-xxl-width - 200px;
  }
}
@media (min-width: $screen-xxxl-width) {
  #site-container {
    width: $screen-xxxl-width - 200px;
  }
}
blockquote footer {
    font-size: 85%;
    font-family: $font-family-tiny;
}
.introtron {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: 1em;
  h1 {
    font-style: italic;
    font-weight: normal;
  }
}
@media (min-width: 630px) and (max-width: 964px) {
  .jumbotron {
    background-position: center 35%;
  }
}
@media (min-width: 965px) {
  .jumbotron {
    background-position: center 18%;
  }
}
.navbar {
  text-transform: uppercase;
  font-family: $font-family-tiny;
  @media (min-width: $screen-sm-min) {
    ul.navbar-nav > .active {
      transform: translateY(5px);
    }
  }
}
.navbar-brand {
  overflow: hidden;
  text-indent: -9999px;
  width: 140px;
  background: url(/img/logotype.png) no-repeat center center;
  background-size: 140px 45px;
  margin-right: 10px;
}
@media (max-width: $screen-sm-min) {
  .navbar {
    margin-bottom: 0;
  }
}
@media (max-width: $screen-md-min) {
  .navbar-brand {
    margin-left: $panel-body-padding + $font-size-base*0.5; /* due to 0.5em border */
  }
}
h1,h2,h3,h4,h5 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}
h1, h2 {
  text-align: center;
}
header h2.tengwar {
  font-size: 140%;
}
.clear-left {
  clear: left;
}
blockquote {
  font-size: 1rem;
  line-height: 1.5;
}
blockquote h3 a {
  color: inherit;
}
.highlight {
  background: #d9eefe;
  border-radius: 2px;
}
.openid-provider {
  width: 81px;
  height: 33px;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
}
.scroll-view {
  max-height: 300px;
  overflow: auto;
}
.disclaimer {
  padding: 50px 0 20px 0;
  clear: both;
  color: #bbb;
  font: 80% $font-family-tiny;
}
.disclaimer a {
  color:#aaa;
}
.performance-data {
  font-size: 80%;
  color: #bbb;
  text-align: right;
}
.modal {
  text-align: center;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 80%;
}
.ed-definition {
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  font-size: 90%;
  margin-bottom: 10px;
}
.ed-fragment {
  margin-left: 10px;
}
.ed-navigation div:last-child {
  text-align: right;
}
#related-books-row {
  margin-top: 150px;
  padding-top:5px;
}
#related-books {
  overflow: auto;
  overflow-x: hidden;
  max-height: 520px;
}
#related-books iframe {
  margin: 10px 10px 10px 0;
}
.adblocker {
  display: none;
}
#profile-page-edit {
  float: right;
}
.editable {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 10px;
}
.editable.active {
  transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  padding: 5px;
}
.editable.active:hover {
  border-color: #608ca5;
  cursor: text;
}
.editing {
  box-sizing: border-box;
  width: 100%;
}
.editing.tengwar {
  float: right;
  width: 30%;
}
.alert {
  font-size: 1rem;
}
.ed-dashboard-li-text {
  width:70%;
  overflow:hidden;
  text-overflow: ellipsis;
  display:inline-block;
  white-space:nowrap;
}
.auth-provider img {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 0;
  margin-right: 20px;
}
.auth-provider:hover img {
  border-color: #f3f3f3;
  @include ed-box-shadow();
}
.no-padding {
  padding-left: 0;
}
.ed-sentence-fragments > .row:first-child {
  border-top: none;
  padding-top: 0;
}
.ed-sentence-fragments > .row {
  border-top: 2px solid #dddddd;
  padding-top: 25px;
}
.donations {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.donations li {
  padding: 5px 0 5px 0;
}
.donations .currency {
  font-weight: bold;
}
.donations .date {
  font-style: italic;
}
.donation-box {
  border: none;
  background: #eee;
  border-radius: 10px;
  max-width:230px;
  text-align: center;
  float: right;
}

.list-group {
  font-size: 1rem;
}

@media (max-width: 400px) {
  .donation-box {
    float: none;
    max-width: none;
  }
}
.daily-sentence {
  padding: 5px 0 0 0;
  margin: 0;
  border: none;
}
.hourly-gloss {
  blockquote {
    padding: 0;
    margin: 0;
    border: none;

    h3 {
      font-size: 18px;
      font-weight: normal;
      font-style: italic;
    }
  }
}
.beating {
  color: red;
  font-size: 90%;
  animation: heartbeat 3s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.search-result-navigator ul.pager {
  margin: 0;
}

@import './apps/discuss/index.scss'; /* Discuss is pretty much everywhere, so no point in separation here. */
