@import "../../../_scss/_variables";

.sentence-inspector {
    font-size: 1.3rem;
    padding-bottom: 4rem;

    .sentence-inspector__introduction {
        font-style: italic;
        font-size: 1rem;
    }

    > .p-group {
        padding-bottom: 1rem;
        transition: 0.5s padding;

        &.selected {
            padding-bottom: 2rem;
        }

        > .p-group__p {
            text-align: center;
            line-height: 1.8;

            + .p-group__p {
                margin-left: 0;
                margin-top: 0.5rem;
            }

            &.english {
                font-style: italic;
                font-size: 0.8em;
                line-height: 2.25;
            }

            > a {
                color: inherit;
                text-decoration: none;

                &.selected {
//                    color: $brand-primary;
                    text-shadow: 0px 0px 0.2rem #ddd;
                    font-weight: bold;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}
