@import '../../_scss/_variables';
@import '../../_scss/_fx';
@import '../../_scss/_markdown-global';

$ed-toolbar-height: 30px;
$ed-forum-post-profile-width: 120px;
$ed-device-width: 540px;
$ed-forum-post-body-maximum-width: 50rem;

h1 {
    text-align: center;
    word-wrap: break-word;
}

.discuss-thread-tools {
    height: 37px;
}

.discuss-body {
    @include markdown-global();

    > .sk-spinner.noscript--hidden {
        margin-bottom: 100vh;
    }

    .discuss-body__toolbar--primary {
        > form, .alert {
            text-align: initial;
        }

        @media (max-width: $ed-device-width) {
            > .btn {
                width: 100%;
            }
        }
    }

    > aside.discuss-body--pagination-details {
        font-family: $font-family-tiny;
        font-size: $font-size-sm;
        color: var(--ed-text-muted);
        text-align: center;
        margin-top: 1rem;
    }
}

.discuss-table {
    box-sizing: border-box;

    > h2 {
        text-align: left;
        font-weight: 100;
    }

    /* row */
    .r {
        display: flex;
        flex-wrap: wrap;
        padding: $container-padding-x;
        color: inherit;

        &:nth-child(even) {
            background-color: var(--bs-tertiary-bg);
        }
        
        &:hover {
            background-color: var(--ed-bg-surface-hover);
            border-radius: $border-radius;
        }

        /* column */
        .c { 
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;

            &.p2 {
                flex-grow: 2;
                > .subject {
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }

            &:first-child {
                max-width: 80px;
            }

            /* profile picture */
            img.pp {
                width: 60px;
                height: 60px;
                border-radius: 30px;
                @include ed-box-shadow();
            }

            /* profile information */
            .pi {
                font-family: $font-family-tiny;
                font-size: 0.9rem;
            }
        }
    }

    .member-list-account {
        font-size: 1.5em;
        .profile-summary {
            font-size: 1rem;
        }
    }

    .member-list-number {
        font-size: 2em; 

        .total-indicator {
            font-size: 1rem;
        }  
    }
}

.forum-post {
    display: table;
    width: 100%;
    box-sizing: border-box;
    margin-top: $container-padding-x;
    padding-top: $container-padding-x;
    border-top: 1px solid var(--ed-border);
    transition: background-color 2s, padding 2s;

    &.forum-post--thread {
        border-top: none;

        &.highlighted {
            padding: $spacer * 1.5;
            padding-left: 0;
            box-shadow: var(--bs-box-shadow);
            background: var(--bs-tertiary-bg);

            @media (max-width: $ed-device-width) {
                box-shadow: none;
                background: none;
            }
        }
    }

    &.forum-post--thread + aside.discuss-body--pagination-details + .forum-post {
        margin-top: $container-padding-x/2;
    }

    .post-body {
        overflow: hidden;
        clear: right; // This is to prevent the header from overflowing into the text.

        p, ul, ol {
            max-width: $ed-forum-post-body-maximum-width;
        }
        pre {
            max-width: max-content;
        }
        table {
            width: auto;
            min-width: 200px;
        }
    }

    .post-profile-picture {
        display: table-cell;
        width: $ed-forum-post-profile-width;
        text-align: center;
        font-size: 0.9rem;

        img {
            width: $ed-forum-post-profile-width/2; 
            height: $ed-forum-post-profile-width/2;
            border-radius: $ed-forum-post-profile-width/4;
            border: 2px solid var(--ed-bg);
            @include ed-box-shadow();
        }
    }

    .post-content {
        display: table-cell;
        vertical-align: top;
    }

    footer, header {
        font-family: $font-family-tiny;
    }

    footer {
        font-size: $font-size-sm;
        color: var(--ed-text-muted);

        .post-no {
            float: right;
            font-size: $font-size-sm;
            color: var(--ed-text-muted);
        }

        > a {
            float: right;
        }
    }

    a {
        text-decoration: none;
    }
}

@media (max-width: $ed-device-width) {
    .forum-post .post-profile-picture {
        font-size: 0.9rem;
        font-family: Helvetica, Arial, sans-serif;
        width: $ed-forum-post-profile-width*0.16;
        padding-top: 2px;
        text-align: left;

        img {
            width: $ed-forum-post-profile-width*0.25*0.5; 
            height: $ed-forum-post-profile-width*0.25*0.5;
            border-radius: $ed-forum-post-profile-width*0.25*0.5*0.5;
        }
    }
}

.discuss-body:not(.stretch) {
    @media (min-width: calc(#{$ed-forum-post-body-maximum-width} + #{$ed-forum-post-profile-width})) {
        .forum-post {
            max-width: calc(#{$ed-forum-post-body-maximum-width} + #{$ed-forum-post-profile-width});
            margin-left: auto;
            margin-right: auto;
        }
    }
}
