@import '../../../_scss/_variables';

.GlossCellEditor {
    display: flex;
    flex-direction: column;
    height: 250px;
}

.GlossCellEditor--input {
    height: 40px;
    padding: 0.3rem;
}

.GlossCellEditor--scroller {
    height: 210px;
    overflow-y: scroll;
}

.GlossCellEditor--suggestions {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.GlossCellEditor--suggestion {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;

    &:active, &:hover, &:focus {
        text-decoration: none;
        color: inherit;
    }

    > * {
        pointer-events: none;
    }
}

.GlossCellEditor--selected {
    background: $info;
}
