@import '../../../_scss/_fx';
@import '../../../_scss/_variables';

.Avatar--picture {
    > .Avatar--picture__drophere {
        line-height: 10rem;
        opacity: 0;
        transition: opacity 1s;
        pointer-events: none;
        font-family: $font-family-tiny;
        font-size: 0.9rem;
        background: var(--ed-avatar-overlay);
        color: var(--ed-bg);

        &.show {
            opacity: 1;
        }
    }

    &:hover > .Avatar--picture__drophere {
        opacity: 1;
    }

    > input[type=file] {
        visibility: hidden;
    }
}
