@import '../_scss/variables';

div.Jumbotron {
    margin: 1rem calc(50% - 50vw);
    padding: 3rem;
    box-sizing: border-box;
    background-color: $gray-200;
    background-size: cover;
    background-position: center center;

    &.has-background {
        h1, h2, h3, h4 {
            color: white;
            text-shadow: #000 0.1rem 0 1rem;
        }
    }
}
