@font-face {
  font-family: 'TengwarAnnatarGlaemunicode';
  src: url('../../fonts/tengwar/tengwar-annatar-glaemunicode.eot');
  src: url('../../fonts/tengwar/tengwar-annatar-glaemunicode.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/tengwar/tengwar-annatar-glaemunicode.woff') format('woff'),
       url('../../fonts/tengwar/tengwar-annatar-glaemunicode.ttf') format('truetype'),
       url('../../fonts/tengwar/tengwar-annatar-glaemunicode.svg#tengwar_annatar_glaemunicodRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TengwarTelcontar';
  src: url('../../fonts/tengwar/tengtelcOTL-embedding.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.tengwar {
  font-family: 'TengwarAnnatarGlaemunicode', 'TengwarTelcontar';
  font-size: 110%;
  line-height: 1.5;
  text-decoration: none;
  font-weight: normal !important;
}
.tengwar.start {
  color: #ccc;
  font-size: 200%;
  text-align: center;
  margin: 20mm 0 8mm 0;
  padding: 0;
}
.tengwar-lg {
  font-size: 150%;
}
.tengwar.header {
  float: right;
  color: #ccc;
}
input.tengwar {
  font-size: 120%;
}
