@font-face {
  font-family: 'TengwarAnnatarGlaemscrafu';
  src: url('../../fonts/tengwar/tengwar-annatar-glaemscrafu.eot');
  src: url('../../fonts/tengwar/tengwar-annatar-glaemscrafu.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/tengwar/tengwar-annatar-glaemscrafu.woff') format('woff'),
        url('../../fonts/tengwar/tengwar-annatar-glaemscrafu.ttf') format('truetype'),
        url('../../fonts/tengwar/tengwar-annatar-glaemscrafu.svg#tengwar_annatar_glaemscrafuRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.tengwar {
  font-family: 'TengwarAnnatarGlaemscrafu';
  font-size: 110%;
  line-height: 1.5;
  text-decoration: none;
  font-weight: normal !important;
}
.tengwar.start {
  color: #ccc;
  font-size: 200%;
  text-align: center;
  margin: 20mm 0 8mm 0;
  padding: 0;
}
.tengwar-lg {
  font-size: 150%;
}
.tengwar.header {
  float: right;
  color: #ccc;
}
input.tengwar {
  font-size: 120%;
}
