@mixin mask-image-compatible($image) {
    -webkit-mask-image: url(#{$image});
    mask-image: url(#{$image});
}

.TextIcon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: black;
    -webkit-mask-size: 1em;
    mask-size: 1em;

    &.TextIcon--arrow-down {
        @include mask-image-compatible("~bootstrap-icons/icons/arrow-down.svg");
    }
    &.TextIcon--arrow-up {
        @include mask-image-compatible("~bootstrap-icons/icons/arrow-up.svg");
    }
    &.TextIcon--bell {
        @include mask-image-compatible("~bootstrap-icons/icons/bell.svg");
    }
    &.TextIcon--chevron-left {
        @include mask-image-compatible("~bootstrap-icons/icons/chevron-left.svg");
    }
    &.TextIcon--chevron-right {
        @include mask-image-compatible("~bootstrap-icons/icons/chevron-right.svg");
    }
    &.TextIcon--chevron-up {
        @include mask-image-compatible("~bootstrap-icons/icons/chevron-up.svg");
    }
    &.TextIcon--chevron-down {
        @include mask-image-compatible("~bootstrap-icons/icons/chevron-down.svg");
    }
    &.TextIcon--comment {
        @include mask-image-compatible("~bootstrap-icons/icons/chat-square-dots.svg");
    }
    &.TextIcon--edit {
        @include mask-image-compatible("~bootstrap-icons/icons/pencil.svg");
    }
    &.TextIcon--envelope {
        @include mask-image-compatible("~bootstrap-icons/icons/envelope.svg");
    }
    &.TextIcon--exclamation-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/exclamation-circle.svg");
    }
    &.TextIcon--info-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/info-circle.svg");
    }
    &.TextIcon--globe {
        @include mask-image-compatible("~bootstrap-icons/icons/globe.svg");
    }
    &.TextIcon--ok {
        @include mask-image-compatible("~bootstrap-icons/icons/check.svg");
    }
    &.TextIcon--pushpin {
        @include mask-image-compatible("~bootstrap-icons/icons/pin-angle.svg");
    }
    &.TextIcon--refresh {
        @include mask-image-compatible("~bootstrap-icons/icons/arrow-clockwise.svg");
    }
    &.TextIcon--remove {
        @include mask-image-compatible("~bootstrap-icons/icons/eraser.svg");
    }
    &.TextIcon--search {
        @include mask-image-compatible("~bootstrap-icons/icons/search.svg");
    }
    &.TextIcon--share {
        @include mask-image-compatible("~bootstrap-icons/icons/share.svg");
    }
    &.TextIcon--thumbs-down {
        @include mask-image-compatible("~bootstrap-icons/icons/hand-thumbs-down.svg");
        &.filled {
            @include mask-image-compatible("~bootstrap-icons/icons/hand-thumbs-down-fill.svg");
        }
    }
    &.TextIcon--thumbs-up {
        @include mask-image-compatible("~bootstrap-icons/icons/hand-thumbs-up.svg");
        &.filled {
            @include mask-image-compatible("~bootstrap-icons/icons/hand-thumbs-up-fill.svg");
        }
    }
    &.TextIcon--trash {
        @include mask-image-compatible("~bootstrap-icons/icons/trash.svg");
    }
    &.TextIcon--warning-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/exclamation-triangle.svg");
    }
    &.TextIcon--minus-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/dash.svg");
    }
    &.TextIcon--plus-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/plus.svg");
    }
    &.TextIcon--move {
        @include mask-image-compatible("~bootstrap-icons/icons/box-arrow-right.svg");
    }
}

// This is a hack to support icons used within buttons. Unfortunately, the SVG approach
// doesn't automatically pick up the text colour.
button > .TextIcon {
    background-color: white;
}