@mixin mask-image-compatible($image) {
    -webkit-mask-image: url(#{$image});
    mask-image: url(#{$image});
}

.TextIcon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: black;
    -webkit-mask-size: 1em;
    mask-size: 1em;

    &.TextIcon--arrow-down {
        @include mask-image-compatible("~bootstrap-icons/icons/arrow-down.svg");
    }
    &.TextIcon--arrow-up {
        @include mask-image-compatible("~bootstrap-icons/icons/arrow-up.svg");
    }
    &.TextIcon--asterisk {
        @include mask-image-compatible("~bootstrap-icons/icons/asterisk.svg");
    }
    &.TextIcon--bell {
        @include mask-image-compatible("~bootstrap-icons/icons/bell.svg");

        &.filled {
            @include mask-image-compatible("~bootstrap-icons/icons/bell-fill.svg");
        }
    }
    &.TextIcon--book {
        @include mask-image-compatible("~bootstrap-icons/icons/book.svg");
    }
    &.TextIcon--calendar {
        @include mask-image-compatible("~bootstrap-icons/icons/calendar.svg");
    }
    &.TextIcon--chevron-left {
        @include mask-image-compatible("~bootstrap-icons/icons/chevron-left.svg");
    }
    &.TextIcon--chevron-right {
        @include mask-image-compatible("~bootstrap-icons/icons/chevron-right.svg");
    }
    &.TextIcon--chevron-up {
        @include mask-image-compatible("~bootstrap-icons/icons/chevron-up.svg");
    }
    &.TextIcon--chevron-down {
        @include mask-image-compatible("~bootstrap-icons/icons/chevron-down.svg");
    }
    &.TextIcon--clock-history {
        @include mask-image-compatible("~bootstrap-icons/icons/clock-history.svg");
    }
    &.TextIcon--clipboard {
        @include mask-image-compatible("~bootstrap-icons/icons/clipboard.svg");
    }
    &.TextIcon--comment {
        @include mask-image-compatible("~bootstrap-icons/icons/chat-square-dots.svg");
    }
    &.TextIcon--edit {
        @include mask-image-compatible("~bootstrap-icons/icons/pencil.svg");
    }
    &.TextIcon--envelope {
        @include mask-image-compatible("~bootstrap-icons/icons/envelope.svg");
    }
    &.TextIcon--exclamation-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/exclamation-circle.svg");
    }
    &.TextIcon--info-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/info-circle.svg");
    }
    &.TextIcon--hand-index {
        @include mask-image-compatible("~bootstrap-icons/icons/hand-index.svg");
        &.right {
            transform: rotate(90deg);
        }
    }
    &.TextIcon--house {
        @include mask-image-compatible("~bootstrap-icons/icons/house.svg");
    }
    &.TextIcon--globe {
        @include mask-image-compatible("~bootstrap-icons/icons/globe.svg");
    }
    &.TextIcon--lock {
        @include mask-image-compatible("~bootstrap-icons/icons/lock.svg");
    }
    &.TextIcon--ok {
        @include mask-image-compatible("~bootstrap-icons/icons/check.svg");
    }
    &.TextIcon--pushpin {
        @include mask-image-compatible("~bootstrap-icons/icons/pin-angle.svg");
    }
    &.TextIcon--refresh {
        @include mask-image-compatible("~bootstrap-icons/icons/arrow-clockwise.svg");
    }
    &.TextIcon--remove {
        @include mask-image-compatible("~bootstrap-icons/icons/eraser.svg");
    }
    &.TextIcon--search {
        @include mask-image-compatible("~bootstrap-icons/icons/search.svg");
    }
    &.TextIcon--share {
        @include mask-image-compatible("~bootstrap-icons/icons/share.svg");
    }
    &.TextIcon--thumbs-down {
        @include mask-image-compatible("~bootstrap-icons/icons/hand-thumbs-down.svg");
        &.filled {
            @include mask-image-compatible("~bootstrap-icons/icons/hand-thumbs-down-fill.svg");
        }
    }
    &.TextIcon--thumbs-up {
        @include mask-image-compatible("~bootstrap-icons/icons/hand-thumbs-up.svg");
        &.filled {
            @include mask-image-compatible("~bootstrap-icons/icons/hand-thumbs-up-fill.svg");
        }
    }
    &.TextIcon--trash {
        @include mask-image-compatible("~bootstrap-icons/icons/trash.svg");
    }
    &.TextIcon--warning-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/exclamation-triangle.svg");
    }
    &.TextIcon--minus-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/dash.svg");
    }
    &.TextIcon--people {
        @include mask-image-compatible("~bootstrap-icons/icons/people.svg");
    }
    &.TextIcon--plus-sign {
        @include mask-image-compatible("~bootstrap-icons/icons/plus.svg");
    }
    &.TextIcon--logout {
        @include mask-image-compatible("~bootstrap-icons/icons/box-arrow-left.svg");
    }
    &.TextIcon--move, &.TextIcon--login {
        @include mask-image-compatible("~bootstrap-icons/icons/box-arrow-right.svg");
    }
    &.TextIcon--person {
        @include mask-image-compatible("~bootstrap-icons/icons/person.svg");
    }
    &.TextIcon--rss {
        @include mask-image-compatible("~bootstrap-icons/icons/rss.svg");
    }
}

// Spin animation for loading states (e.g. search icon while fetching results)
@keyframes texticon-spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.TextIcon.loading {
    animation: texticon-spin 0.8s linear infinite;
}

// This is a hack to support icons used within buttons. Unfortunately, the SVG approach
// doesn't automatically pick up the text colour.
button > .TextIcon, a.btn > .TextIcon {
    background-color: white;
}