@import '../../../_scss/_variables';

.GlossSuggestion--word {
    font-weight: bold;
}
.GlossSuggestion--type {
    font-style: italic;
}
.GlossSuggestion--id {
    color: var(--ed-text-faint);
    font-family: $font-family-tiny;
    float: right;
    font-size: 0.9rem;
    line-height: 2.25;
}
