@import '../../../../_scss/_variables';

header > .post-header--tools {
    font-size: 0.9rem;
    > a {
        &:last-child {
            margin-right: 0;
        }

        margin-right: 0.5em;
        color: $gray-500;
    }
    
    float: right;
}
